@import "../../../../../styles/utils/rem";
@import "../../../../../styles/elevation/elevation";

:host {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 24;
  display: flex;
  position: fixed;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  > .tcs-popover__content {
    flex: 0 0 auto;
    display: block;
    box-sizing: border-box;
  }
}

:host(.tcs-popover--scrim) {
  background-color: rgba($color: #000000, $alpha: 0.32);
}

:host(.tcs-popover--absolute) {
  > .tcs-popover__content {
    position: absolute;
  }
}

