@import "../../../../../styles/elevation/elevation";

:host {
  color: var(--tcs-theme-reverse);;
  z-index: 4;
  display: block;
  background-color: var(--tcs-theme-primary);
}

:host(.tcs-app-bar--raised) {
  @include elevation(4);
}
