<tcs-drawer #drawer>
  <tcs-list>
    <tcs-list-item routerLink="/explorer" (click)="drawer.visible = false;">
      <tcs-md-icon class="tcs-list-item__graphic">home</tcs-md-icon>首页
    </tcs-list-item>
    <tcs-list-item routerLink="/downloads" (click)="drawer.visible = false;">
      <tcs-md-icon class="tcs-list-item__graphic">cloud_download</tcs-md-icon>下载列表
    </tcs-list-item>
    <tcs-list-item routerLink="/settings" (click)="drawer.visible = false;">
      <tcs-md-icon class="tcs-list-item__graphic">settings</tcs-md-icon>设置
    </tcs-list-item>
  </tcs-list>
</tcs-drawer>
<router-outlet></router-outlet>
